<link rel="stylesheets" type="text/css" href="/css/styles.css">

<form method="post" action="pairs">
	<hr color="black">

<div class="results">
<% poop = eval(result).each { |x| x.each { |y| puts y } } %>
<table>
<% poop.each do |x| %>
		<tr><td><%= x.join("-") %></td></tr>
<% end %>
</table>
		
</div>
</form>



<footer align="middle">
	<div class="footer_text"><a href="https://paired-names-ns.herokuapp.com">Return to Main Page</a> </div>
</footer>
	
	

