body
{
      background-image: url(/img/chalkboard.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: verdana, sans-serif;
  font-size: 1.5rem;
  background-position: center;
}

table
{
  width: fit-content;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0.4rem 1.1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: verdana, sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
}

.title
{
  margin-top: 66;
  color: #fffc;
  font-family: verdana, sans-serif;
  font-size: 4rem;
}

.txtbox
{
  width: 7rem;
}

.footer_text {
       font-size: 1rem;
    color: black;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
}

td {
    padding: 8px;
    
    border-bottom: 1px solid black;
}

